COP4814Assignment4/Assignment4/Asg4StockConsumer/Service References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStockData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockData" nillable="true" type="tns:StockData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockData" nillable="true" type="tns:ArrayOfStockData" />
  <xs:complexType name="StockData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClosingPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockData" nillable="true" type="tns:StockData" />
</xs:schema>